<h2><%= @c.upcoming.title %></h2>
<% @c.upcoming.links.each do |l| %>
<h3><%= l.title %></h3>
<% if l.comment %><div><%= l.comment %></div><% end %>
<div><a href="<%= l.url %>"><%= l.url %></a></div>
<% end %>

<hr>

<h1>#<%= @c.edition %> - <%= @c.pubdate %></h1>
<div><%= @c.edito_html %></div>
