<div id="templateContainer">
<div id="templateHeader">

<div><%= @config.title %> #<%= @c.edition %> - <%= @c.pubdate %></div>
</div>
</div>
<div id="templateBody">

<div>

<h2><%= @c.upcoming.title %></h2>
<% @c.upcoming.links.each do |l| %>
<h3><%= l.title %></h3>
<div><a href="<%= format(@config.tz_url, l.tz) %>" class="date"><%= l.date %></a></div>
<div><%= l.comment %> <span class="categories">(<%= l.categories %>)</span></div>
<div class="link"><a href="<%= l.url %>"><%= l.url %></a></div>
<% end %>

<div class="baseline"><%= @c.edito_html %></div>

</div>
</div>
